<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error</title>
    </head>
    <body>
        <!-- Top 10 2013-A5-Security Misconfiguration
             Overly detailed information about e.g. form validators is revealed if default error output is not replaced.
             An erroneous input is e.g. over 256 characters of text (that goes over the SQL field limit).
             The fix is to rename this file to "error2.html" to provide a custom error page.
             -->

        <h1>Error</h1>

    </body>
</html>
